<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="portmone" translate="label" type="text" sortOrder="-1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Portmone</label>
                <comment><![CDATA[Сервіс проведення платежів забезпечується системою Portmone.com із використанням сучасного та безпечного механізму авторизації платіжних карток. Служба підтримки Portmone.com: телефон +380(44)200 09 02, електронна пошта: support@portmone.com]]></comment>
                <attribute type="expanded">1</attribute>
                <fieldset_css>complex portmone-section</fieldset_css>
                <frontend_model></frontend_model>
                <attribute type="activity_path">payment/braintree/active</attribute>
                <attribute type="displayIn">recommended_solutions</attribute>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Включити оплату через Portmone</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Назва способу оплати</label>
                </field>
                <field id="payee_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Ідентифікатор магазину в системі Portmone(Payee ID)</label>
                </field>
                <field id="secret_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Логін Інтернет-магазину в системі Portmone</label>
                </field>
                <field id="test_key" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Пароль Інтернет-магазину в системі Portmone</label>
                </field>
                <field id="user_key" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Ключ компании, предоставленный менеджером Portmone</label>
                </field>
                <field id="exp_time" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Обмеження часу життя рахунки на оплату</label>
                </field>
            </group>
        </section>
    </system>
</config>
